body {
  /*min-width: 1040px;*/
  margin: 0;
  padding: 0;
  /* line-height: 24px; */
  font-family: "Arial", sans-serif;
  color: black;
  background-color: white;
}

html{
  font-size: 14px;
}

@font-face {
  font-family: Quicksand700; /* Гарнитура шрифта */
  src: url(fonts/Quicksand-Regular.ttf); /* Путь к файлу со шрифтом */
 }

/*.container {
  width: 1020px;
  margin: 0 auto;
}*/

/* .nav_div {
  background-color:red;
  border-color:red;
}

.logo {
  background-color:purple;
}  */

.bb{
  background-color:purple;
  align-items: center;
}
a {
  text-decoration: none;
}
nav a, .sign_up {
  font-family: Quicksand;
  font-weight: 500;
 
  background-color:white;
  width: 20em;
  height: 3.5rem;
  /*line-height: 3.75rem;*/
   border-radius: 17%/50%;
}


nav :not(a:first-child){
  color:gray;
 
}

nav{
  font-size: 1rem;
}

#sign_up{
  color:white;
  width: 11em;
  background: rgb(0, 0, 0, 0.2);
  border:none;
  border-radius: 17%/50%;
  margin-right: 3.3rem;
  border-color:rgb(0, 0, 0, 0.2);
}


/*.clearfix::after {
  content: "";
  display: table;
  clear: both;
}*/



.page-header {
  background-image: url("../img/Homepage header.jpg");
  min-height: 750px;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo-button{
  font-size: 2rem;
  height: 75px;
  width: 130px;
  margin-left: 70px;
  border-radius: 0 0 20px 20px;
  font-family: Quicksand;
  font-weight: 700;
  background-color: #0F7BFF;
  border:none;
}

.card{
  width: 25rem;
  margin-top:2rem;
  background-color:transparent;
  
}

.header-card{
  border:none;
  width: 38rem;
}

.quicksand700{
  font-family: Quicksand;
  font-weight: 700;
}

.quicksand500{
  font-family: Quicksand;
  font-weight: 500;
}

.quicksand400{
  font-family: Quicksand;
  font-weight: 400;
}

.quicksand300{
  font-family: Quicksand;
  font-weight: 300;
}
.card-text{
  margin-top: 2rem;
  color:#929292;
}


.btn{
  
  width: 11em;
  height: 3.5rem;
  /*line-height: 3.75rem;*/
   border-radius: 17%/50%;
}

.btn_white{
  color:#0F7BFF;
  background-color:white;
}

.feauters-row{
  height: 25rem;
}

.advantages-cards{
  margin:0 auto;
  background-color:#F5FCFD;
  padding-top: 10rem;
  padding-bottom: 10rem;;
}

.advantages-cards .card{
  border: none;
  background-color:white;
  box-shadow: 0 0 13px -9px rgba(0,0,0,0.5); 
  padding:3rem;
}
.advantages-blocks{
  margin-top:-3rem;
}
.advantages-blocks .card{
  border: none;
  width:33rem;
}

.how-does-it-work{
  background-color:#F5FCFD;
  padding:5rem 0;
  margin-top: -3rem;
}
.how-does-it-work .card{
  border: none;
  width:48rem;
}

.three-cards-row {
  font-size: 0.75rem;
}

.three-cards-row .card-body{
  width:15rem;
}